/* Radio Station Styles used on admin pages */
/* ---------------------------------------- */

.form-text {
  font-size: 1em;
}

.inputfile{
  opacity: 0;
}

.left-padding {
  margin-left: 17px;
}
#advanced-options{
  display: none;
}

#upload-file-name{
  display: inline;
}

#delete-data-warning{
  display: none;
}

.debug-border {
  border: 1px solid red;
}
